#ban {
  height: 3.907vw;
  background-image: radial-gradient(ellipse at left, #983737, #983737);
  box-shadow: 2px, 2px black;
  }

body {
 background-image: radial-gradient(ellipse at center, #bfbfbf, #f2f2f2);
 margin: auto;
}

#bodygraph {
 background-image: radial-gradient(ellipse at center, #ffffff, #ffffff);
 margin: auto;
}

#logo {
  height: 3.907vw;
  width: 3.907vw;
  float: left;
}

#titre {
  margin-left: 0.261vw;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  margin-top: 0.80vw;
  float: left;
}

.header-left-side {
  float: left;
  display: inline-block;
  color: white;
  margin-left: 22vw;
}

.header-right-side {
  float: left;
  padding-right: 50px;
  margin-left: 2vw;
}

.header-link {
  display: inline-block;font-size: 1.4vw;
  font-family: 'Roboto', sans-serif;
  margin-top: 0.782vw;
  margin-bottom: 10px;
  margin-right: 5px;
  margin-left: 5px;
  color: black;
  padding: 5px;
  text-decoration: none;
  cursor: pointer;
  color: white;
  transition: background 0.5s;
}

.header-link:hover {
  color: white;
  background: #812e2e radial-gradient(circle, transparent 1%, #983737 1%) center/15000%;
  transition-duration: 0.5s;
}

.header-link:active{
  background-color: #883030;
  background-size: 100%;
  transition: background 0s;
}

#logos {
  height: 4.2vw;
  width: 4.2vw;
  border-radius: 50px;
  position: absolute;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -webkit-transition: all 0.75s;
  transition: all 0.75s;
  margin-right: 10px;
}

#logos:hover {
  height: 4.3vw;
  width: 4.3vw;
  border-radius: 30px;
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  -webkit-transition: all 1.0s;
  transition: all 1.0s;
}

#logos1 {
  height: 4.2vw;
  width: 4.2vw;
  position: absolute;
  border-radius: 50px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -webkit-transition: all 0.75s;
  transition: all 0.25s;
  margin-right: 10px;
  display: inline-block;
}

#logosgraph {
  height: 5.2vw;
  width: 5.2vw;
  position: static;
  border-radius: 50px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -webkit-transition: all 0.75s;
  transition: all 0.25s;
  margin-right: 10px;
  display: inline-block;
}

#logosgraph:hover {
  height: 5.2vw;
  width: 5.2vw;
  border-radius: 30px;
  border-width: 2px; border-color: white;
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  -webkit-transition: all 0.25s;
  transition: all 0.75s;
}

#logos1:hover {
  height: 4.3vw;
  width: 4.3vw;
  border-radius: 30px;
  border-width: 2px; border-color: white;
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  -webkit-transition: all 0.25s;
  transition: all 0.75s;
}

.stream-zone {
  margin-right: auto;
  margin-left: 20vw;
  margin-top: 4.6vw;
  width: 1328px;
}

.stream-zone a {
  color: transparent;
}

.container-logo div {
  display: inline-block;
  position: relative;
  height: 4.3vw;
  width: 4.3vw;
  margin-right: 0.5vw;
}

.container-logo {
  height: 8.8vw; width: 57.6vw;
}

/* On Air icons */
#icon_online_alkor, #icon_online_matruks, #icon_online_joker, #icon_online_sokkersan, #icon_online_frokan, #icon_online_law, #icon_online_zertox, #icon_online_streamerzone, #icon_online_crazy, #icon_online_tosha, #icon_online_sha, #icon_online_bady, #icon_online_wolfy, #icon_online_max, #icon_online_Chloe {
  height: 20px;
  width: 20px;
  background-color: red;
  opacity: 0.5;
  border-radius: 10px;
  top: 0;
  right: 0;
  position: absolute;
  display: none;
  margin-right: 0px;
}

/* Clic on load */




/*SITE PARTENAIRES*/

#partnert {
  color: white;
  font-size: 35px;
  margin-left: 50px;
  font-family: script;
  color: white;
}

#partnera {
  color: white;
  font-size: 35px;
  font-family: script;
  color: white;
}

#partneri {
  margin-left: 100px;
  border-radius: 20px;
  box-shadow: 8px 8px 0px #444444;
}

#partneri:hover {
  margin-left: 100px;
  border-radius: 20px;
}


/*Page Contact*/

/*Bouton n*1 */

#Recutements {
	color: white; background-color: #983737; border-color: black; width: 600px; height: 50px;
	font-size: 20px; font-family: 'Roboto', sans-serif; font-style: bold;
}

#Recutements:hover {
  color: black; background-color: #983737; border-color: #0174DF; 
  border: 1px; width: 600px; height: 50px;
	font-size: 20px; font-family: 'Roboto', sans-serif; font-style: bold;
}


/*Bouton n*2 */

#Recutements1 {
	color: white; background-color: #983737; border-color: black; width: 600px; height: 50px;
	font-size: 20px; font-family: 'Roboto', sans-serif; font-style: bold;
}

#Recutements1:hover {
	color: black; background-color: #983737; border-color: #FE9A2E; width: 600px; height: 50px;
	font-size: 20px; font-family: 'Roboto', sans-serif; font-style: bold;
}


/*Bouton n*3 */

#Recutements2 {
	color: white; background-color: #983737; border-color: black; width: 600px; height: 50px;
	font-size: 20px; font-family: 'Roboto', sans-serif; font-style: bold;
}

#Recutements2:hover {
	color: black; background-color: #983737; border-color: #0174DF; width: 600px; height: 50px;
	font-size: 20px; font-family: 'Roboto', sans-serif; font-style: bold;
}

/* Mode cinéma */
#cine, #cinestop {
	background-image: radial-gradient(ellipse at center, #983737, #983737);
	border-radius: 30px; 
	text-align: center;
	transition-duration: 1s; color: white;
}

#lecteur1, #chat, #bouton, #bouton1, #bouton11 {
  transition-duration: 0.75s;
}

#bouton1 {
  position: static;
}

#chat {
  width: 18.2vw; height: 26.035vw;
}
#lecteur1 {
  height: 26.035vw; width: 39.1vw;
}
/*FIN MODE CINEMA*/

/*BOUTONS DROITE*/
#pan {
  height: 3vw;
  width: 3vw;
  transition-duration: 0.10s;
  position: static;
}
#pan:hover {
  background: #983737;
}
#pan:active {
  background: #812f2f;
}

#pan14 {
  height: 3vw;
  width: 3vw;
  left: 67.5vw;
  transition-duration: 0.210s;
  position: absolute;
  margin-top: 0vw; top: 5.5vw;
}

#pan1, #pan12, #pan13 {
  height: 3vw;
  width: 3vw;
  margin-top: 0.261vw;
  transition-duration: 0.210s;
  position: static;
}
#pan1:hover, #pan12:hover, #pan13:hover, #pan14:hover {
  background: #983737;
}
#pan1:active, #pan12:active, #pan13:active {
  background: #812f2f;
}

#pan2, #pan21, #pan22 {
  height: 3vw;
  width: 3vw;
  margin-top: 0px;
  transition-duration: 0.25s;
  position: static;
}
#pan2:hover, #pan21:hover, #pan22:hover {
  background: #983737;
}
#pan2:active, #pan21:active, #pan22:active  {
  background: #812f2f;
}

#right {
  height: 3vw;
  width: 10vw;
  position: absolute;
  bottom: 0px;
  margin-top: 35.6vw;
  left: 68vw;
  top: 0px;
}
/*FIN BOUTON DROITE*/

/* Ripple effect 
.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: #983737 radial-gradient(circle, transparent 1%, #983737 1%) center/15000%;
}
.ripple:active {
  background-color: #883030;
  background-size: 100%;
  transition: background 0s;
}
*/

#qlick {
  float: right;
  border-radius: 30px;
  font-weight: bold; position: absolute;
  margin-left: 98vw; margin-bottom: 46vw;
}

#profil {
  width: 11vw; height: 26.035vw;
  margin-left: 4px
}

#sombre {
  margin-top: 5.5vw;
  position: absolute;
  margin-left: 74vw;
}

#sombreq {
  margin-left: 74vw;
  margin-top: 5.5vw;
  display: none;
  position: absolute;
}

#sombreon, #sombreoff {
  height: 3vw;
  width: 3vw;
}

#sombreon:hover, #sombreoff:hover {
  background: #983737;
  height: 3vw;
  width: 3vw;
}

#plan {
  border-left-width: 0px; overflow: hidden;
  border-top-width: 0px;  margin-top: 1.5vw;
  border-right-width: 0px;
  border-bottom-width: 0px;
}

#top-bar, #doc-title {
  display: none; width: 0px; height: 0px;
}

#affiche, #affiche1 {
  height: 7vw;margin-left: 1.4vw;margin-top: 1vw; border-radius: 50px; width: 12vw;
  transition-duration: 0.25s;
}

#affiche:hover, #affiche1:hover {
  height: 7vw;  margin-top: 1vw; border-radius: 20px
}

#affiches {
  width: 100vw; height: auto;
}

#blackfont {
  display: none;
  position: absolute;
  height: 46.4vw;
  width: 100%; 
  top: 3.9vw;
  opacity: 0.5;
  background-color: black;
}

.image-clicked {
  position: absolute;
  height: 40vw;
  width: 80vw;
  top: 5vw;
  left: 12vw;
  border-radius: 0px;
}

.image-not-clicked {
  height: 40vw;
  top: 5vw;
  left: 12vw;
  border-radius: 0px;
}

/*contact*/

#name01, #surname, #mail, #reason {
  width: 20vw; height: 3vw;
  border-radius: 4px;
}

#message {
  width: 20vw;
  height: 10vw;
}

#contact {
  font-family: 'Roboto', sans-serif; font-size: 1vw;
}

#boutonsend {
  width: 9vw; border-radius: 4px; border-color: black;
  height: 1.5vw; background-color: #983737; font-family: 'Roboto', sans-serif;
}

#team {
  margin-left: 5vw;
}

#grade {
  position: fixed;
  color: white;
  float: left;
  font-size: 30px;
  font-family: 'Roboto Condensed', sans-serif;
  margin-left: 75px; margin-top: 250px;
}

#streamer-g {
  position: fixed;
  color: white;
  float: left;
  font-size: 30px;
  font-family: 'Roboto Condensed', sans-serif;
  margin-left: 60px; margin-top: 250px;
}

#logo3 {
  margin-top: 2vw;
  margin-left: 16vw;
  float: left;
  height: 30vw;
  width: 25vw;
}

#logo3:hover {
  margin-top: 2vw;
  margin-left: 16vw;
  float: left;
  height: 30vw;
  width: 25vw;
  border: 1px #983737;
}

#text3 {
  float: left;
  height: 30vw;
  width: 50vw;
  color: white;
  font-size: 24px;
  font-family: 'Roboto Condensed', sans-serif;
  margin-top: 11vw;
}

#place3 {
  position: absolute;
  float: left;
  margin-top: 2vw;
  margin-left: 42vw;
  float: left;
  height: 30vw;
  width: 50vw;
  background-color: #983737;
}



#logos4 {
  height: 300px; width: 230px;
  border-radius: 50px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -webkit-transition: all 0.75s;
  transition: all 0.25s;
  margin-right: 30px;
  display: inline-block;
  float: left;
}

#logos4:hover {
  height: 300px; width: 230px;
  border-radius: 30px;
  border-width: 2px; border-color: white;
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  -webkit-transition: all 0.25s;
  transition: all 0.75s;
}

/*panneau droit*/
#right-side{
  float: right;
  margin-right: 0px; right: 0px;
  height: 16vw;
  width: 4vw;
  margin-top: 12vw;
}

#twitter-click{
  height: 4vw; width: 4vw;
  margin-top: 0px;
  margin-bottom: 0px;
  top: 0px;
  bottom: 0px;
  position: relative;
}

#link-twitter{
  height: 4vw; width: 4vw;
  margin-top: 0px;
  margin-bottom: 0px;
  top: 0px;
  bottom: 0px;
}

#youtube-click{
  height: 4vw; width: 4vw;
  margin-top: -4px;
  margin-bottom: 0px;
  top: 0px;
  bottom: 0px;
  position: relative
}

#link-youtube{
  height: 4vw; width: 4vw;
  margin-top: -4px;
  margin-bottom: 0px;
  top: 0px;
  bottom: 0px;
}

#twitch-click{
  height: 4vw; width: 4vw;
  margin-top: -3px;
  margin-bottom: 0px;
  top: 0px;
  bottom: 0px;
  position: relative;
}

#link-twitch{
  height: 4vw; width: 4vw;
  margin-top: -3px;
  margin-bottom: 0px;
  top: 0px;
  bottom: 0px;
}

#facebook-click{
  height: 4vw; width: 4vw;
  margin-top: -3px;
  margin-bottom: 0px;
  top: 0px;
  bottom: 0px;
  position: relative;
}

#link-facebook{
  height: 4vw; width: 4vw;
  margin-top: -3px;
  margin-bottom: 0px;
  top: 0px;
  bottom: 0px;
}

/*Fin PANNEAU DROIT*/